@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/*Tela*/

* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}

header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
    background-color: rgb(236, 233, 233) !important;
}

.bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

div.modal-content h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

div.modal-body p {
    text-align: justify;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

div.modal-body .creditos {
    font-size: 12px;
}

div.modal-body a {
    color: rgb(81, 123, 202);
    text-decoration: none;
    font-size: 12px;
}


/*Fim Tela*/


/*Perfil Mobile*/

@media screen and (max-width: 750px) {
    main .perfil {
        margin: 0px;
        padding: 0px 20px;
    }
    .perfil img {
        width: 100%;
    }
    .perfil .texto_perfil h4 {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    .perfil .texto_perfil {
        margin-top: 25px;
        text-align: justify;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
    }
    .perfil .texto_perfil h4 {
        margin-bottom: 10px;
    }
    .perfil .texto_perfil .bold {
        font-family: 'Montserrat', sans-serif;
    }
    div.icones_redes {
        display: inline-block;
        text-align: center;
    }
    div.redes h4 {
        text-align: center;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        margin: 10px 0px;
    }
    div.redes i {
        width: 65px;
        color: black;
    }
}


/*Fmi Perfil Mobile*/


/*Perfil Tablet*/

@media screen and (min-width:751px) and (max-width:1199px) {
    main .perfil {
        margin: 90px 0px;
        padding: 0px 60px;
    }
    .perfil img {
        width: 130%;
    }
    .perfil .texto_perfil h4 {
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
    }
    .perfil .texto_perfil {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        margin-left: 10%;
    }
    .perfil .texto_perfil h4 {
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .perfil .texto_perfil .bold {
        font-family: 'Montserrat', sans-serif;
    }
    .perfil .redes {
        margin-left: 10%;
        margin-top: 7%;
    }
    .perfil .redes h4 {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    .perfil .redes i {
        width: 45px;
        color: black;
    }
}


/*Fim Perfil Tablet*/


/*Perfil Desktop*/

@media screen and (min-width:1200px) {
    main .perfil {
        margin: 20px auto 50px;
        padding: 0px;
        width: 70%;
    }
    .perfil img {
        border-radius: 100%;
        width: 110%;
    }
    .perfil .texto_perfil a {
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 5px;
        color: black;
        text-decoration: none;
    }
    .perfil .texto_perfil {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        margin-left: 20px;
    }
    .perfil .texto_perfil .bold {
        font-family: 'Montserrat', sans-serif;
    }
    .perfil .redes {
        margin-left: 20px;
        margin-top: 5%;
    }
    .perfil .redes h4 {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    .perfil .redes i {
        width: 45px;
        color: black;
    }
}


/*Fim Perfil Desktop*/

i.fab {
    font-size: 25px;
}


/*------------------------------------------------------------------*/


/*Repositórios GitHub*/


/*Repositórios Desktop*/

@media screen and (min-width:1200px) {
    .repositorio {
        margin: 0 0 50px;
        padding: 0px;
        background: rgb(236, 233, 233);
    }
    .conteudo_repositorio {
        width: 70% !important;
        margin-top: 15px;
    }
    .tituloRepos {
        padding: 0px;
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        text-decoration: none;
        color: black;
        margin: 25px 0px 15px !important;
    }
    .conteudo_repositorio div>img {
        width: 10%;
        right: 0px;
    }
    .info_repositorio a {
        margin-left: 5px;
        text-decoration: none;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
    }
    .info_repositorio a:hover {
        color: black;
    }
    div.text_repositorio {
        align-items: center;
        margin: 5px 0 25px 45px;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }
}


/*Fim Repositório Desktop*/


/*Repositório Mobile*/

@media screen and (max-width:1199px) {
    .repositorio {
        margin: 0px auto !important;
        padding: 0px;
        background: rgb(236, 233, 233);
    }
    .conteudo_repositorio {
        margin: 15px 0px 15px;
        padding: 0px 30px;
        justify-content: space-between;
    }
    .conteudo_repositorio h4 {
        padding: 35px 5px;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    .conteudo_repositorio div>img {
        width: 10%;
    }
    .info_repositorio {
        margin: 0px auto 30px;
    }
    .info_repositorio a {
        text-decoration: none;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
    .info_repositorio a:focus {
        color: black;
    }
    .conteudo_repositorio>div>.text_repositorio {
        align-items: center;
        margin-top: 5px;
        margin-left: 9%;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }
}


/*Fim Repositório Mobile*/


/*------------------------------------------------------------------*/


/*Footer*/


/*Footer Desktop*/

@media screen and (min-width:1001px) {
    .footer {
        height: 90px;
        padding: 40px 120px;
        background-color: rgb(236, 233, 233);
    }
    .copyright {
        font-family: Montserrat Light;
        font-size: 15px;
    }
    .redes-mobile {
        display: none;
    }
    .footer-mobile {
        display: none;
    }
    div.logo img {
        margin-top: -5px;
        width: 30px;
    }
}


/*Fim Footer Desktop*/


/*Footer Tablet*/

@media screen and (min-width:780px) and (max-width:1000px) {
    .footer {
        height: 80px;
        padding: 40px 20px;
        background-color: rgb(236, 233, 233);
    }
    .copyright {
        font-family: Montserrat Light;
        font-size: 15px;
    }
    .redes-mobile {
        display: none;
    }
    .footer-mobile {
        display: none;
    }
    div.logo img {
        margin-top: 10px;
        width: 30%;
    }
}


/*Fim Footer Tablet*/


/*Footer Mobile*/

@media screen and (max-width:779px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px !important;
        padding: 0px 20px;
        margin: 0px auto !important;
        background-color: rgb(236, 233, 233);
    }
    .copyright {
        font-family: Montserrat Light;
        font-size: 15px;
        text-align: center;
    }
    .logo {
        display: none;
    }
}


/*Fim Footer Mobile*/